body {
    margin: 0px;
    padding: 0px;
    font-size: 17px;
    color: #a1bdfe;
    background-color:  black;
text-align:  center;
}

a {
    text-decoration: none;
    color: #a1bdfe;
}
#container {
    margin: 0px auto;
    width: 750px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0px auto;
    width: 520px;
    font-size: 150%;
    line-height: 130%;
    opacity: 0.9;
}
#content {
    padding-top: 20px;
    padding-bottom: 70px;
    margin: 0px auto;
    text-shadow: 4px 4px 3px rgba(150, 150, 150, 0.13);
    text-align: left;
}
#footer {
    padding-right: 2%;
    text-align: right;
    font-size: 90%;
    margin-bottom: 10px;
}
#controls {
    margin-top: 10px;
    font-size: 90%;
}
#left {
    width: 48%;
    display: inline-block;
    padding-left: 2%;
}
#right {
    width: 47%;
    padding-right: 1%;
    text-align: right;
    display: inline-block;
}

input {

    background-color: grey;

}

button {

    background-color: grey;
}

select {


    background-color: grey;


}

#result {

font-size: 200%;


}